# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
build

# Prisma generated
# prisma/migrations

# Env files
# .env
# .env.*
# !.env.example

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# IDE
.vscode
.idea